@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

.headling {
  text-align: center;
  font-size: 2rem;
  color: #eee;
}

#navbar {
  position: fixed;
  width: 100%;
  height: auto;
  background-color: #111;
  display: flex;
  justify-content: center;
  padding: 0.625rem;
  opacity: 85%;
}
#navbar .navbar-container {
  width: 80%;
  margin: auto;
  display: flex;
  color: #eee;
  justify-content: space-between;
  align-items: center;
}
#navbar .navbar-container .logo a {
  color: #eee;
  text-decoration: none;
  font-size: 1.7rem;
}
#navbar .navbar-container .menu ul {
  display: flex;
}
#navbar .navbar-container .menu ul li {
  text-transform: uppercase;
  font-size: 1.2rem;
  list-style: none;
  padding: 0.625rem;
}
#navbar .navbar-container .menu ul li a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s ease;
}

#showcase {
  width: 100%;
  height: 100vh;
  background: url("/img/showcase.jpg") no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: color;
}
#showcase .showcase-container {
  color: #eee;
  text-align: center;
}
#showcase .showcase-container h2 {
  font-size: 3rem;
}
#showcase .showcase-container p {
  font-size: 1.2rem;
}
#showcase .btn-showcase {
  opacity: 80%;
  width: 200px;
  background-color: #111;
  color: #eee;
  text-transform: uppercase;
  padding: 0.625rem;
  margin: 0.625rem;
  cursor: pointer;
}
#showcase .whatsapp-icon a {
  color: #128c7e;
  font-size: 5rem;
  position: fixed;
  right: 2rem;
  bottom: 9rem;
  text-decoration: none;
  transition: 0.3s ease;
}
#showcase .whatsapp-icon a:hover {
  transform: scale(1.1);
}

#clients {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  text-transform: uppercase;
  padding: 2rem;
}
#clients h2 {
  color: #333;
  margin: 30px;
}
#clients .clients-container {
  margin: 1.25rem auto;
  width: 80%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}
#clients .clients-container img {
  display: inline-block;
  width: 120px;
  height: auto;
}

#features {
  width: 100%;
  background-color: #111;
  padding: 2rem;
}
#features h2 {
  margin: 30px;
  font-size: 2rem;
  color: #eee;
  text-align: center;
  text-transform: uppercase;
}
#features .features-container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.25rem;
  margin: 1.25rem auto;
}
#features .features-items {
  display: flex;
  border-radius: 6px;
  background-color: #333;
  color: #eee;
  padding: 1.25rem;
  flex-direction: column;
  margin: 0.625rem 0;
  gap: 0.625rem;
}
#features span {
  font-weight: bold;
}

#product {
  width: 100%;
  padding: 2rem;
}
#product h2 {
  text-align: center;
  margin: 30px;
  text-transform: uppercase;
  font-size: 2rem;
}
#product .product-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin: auto;
}
#product .product-items {
  width: 40%;
  padding: 0.625rem;
}
#product .item {
  display: flex;
  margin: 1.2rem;
  padding: 1rem;
}
#product .item p {
  margin: 0 0.625rem;
}

#testimonials {
  width: 100%;
  background-color: #111;
  padding: 2rem;
}
#testimonials h2 {
  color: #eee;
  padding: 30px;
  text-transform: uppercase;
}
#testimonials .testimonials-content {
  display: flex;
  flex-direction: column;
  width: 80%;
  color: #eee;
  margin: auto;
  padding: 3rem;
}
#testimonials .testimonials-content img {
  width: 120px;
  height: auto;
  border-radius: 50%;
}
#testimonials .testimonials-content p {
  margin: 20px;
}
#testimonials .testimonials-content .item-1 {
  padding: 0.625rem;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  border-radius: 6px;
}
#testimonials .testimonials-content .item2 {
  flex-direction: row-reverse;
}

#gallery {
  width: 90%;
  margin: auto;
  padding: 2rem;
}
#gallery h2 {
  color: #111;
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
}
#gallery .gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  justify-items: center;
}
#gallery img {
  display: inline-block;
  width: 25rem;
  height: 18.75rem;
  border-radius: 6px;
  transition: 0.3s ease;
}

#footer .footer-container {
  display: flex;
  flex-direction: row;
  opacity: 85%;
  width: 100%;
  height: 8rem;
  background-color: #111;
  color: #eee;
  text-align: center;
  justify-content: center;
  padding: 2rem;
  flex-wrap: wrap;
  row-gap: 2rem;
}
#footer .footer-container .social-media {
  font-size: 2.5rem;
  position: absolute;
  right: 2rem;
}
#footer .footer-container .social-media i {
  padding: 0 1rem;
  color: #eee;
  transition: 0.3s ease;
}
#footer .footer-container .social-media i:hover {
  transform: translateY(-0.6rem);
}

@media screen and (max-width: 2561px) {
  #navbar .navbar-container {
    margin: 0.625rem;
  }
  #navbar .navbar-container .logo a {
    font-size: 4rem;
  }
  #navbar .menu ul li a {
    font-size: 2rem;
    padding: 1.2rem;
  }
  #showcase .showcase-container h2 {
    font-size: 4rem;
  }
  #showcase .showcase-container p {
    font-size: 1.7rem;
  }
  #showcase .showcase-container .btn-showcase {
    width: 15.625rem;
    height: 4.375rem;
    font-size: 1.5rem;
  }
  #clients .clients-container {
    width: 70%;
  }
  #features .features-items {
    font-size: 1.5rem;
  }
  #product .product-container img {
    width: 400px;
  }
  #product .product-container .item {
    font-size: 1.5rem;
  }
  #testimonials .testimonials-content .item-1 img {
    width: 200px;
  }
  #testimonials .testimonials-content .item-1 p {
    font-size: 1.5rem;
  }
  #gallery .gallery-container img {
    width: 25rem;
    height: 18.75rem;
  }
  #footer {
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 1921px) {
  #navbar .navbar-container {
    height: 3.125rem;
  }
  #navbar .navbar-container .logo a {
    font-size: 2rem;
  }
  #navbar .menu ul li a {
    font-size: 1.2rem;
    padding: 1rem;
  }
  #showcase .showcase-container h2 {
    font-size: 3rem;
  }
  #showcase .showcase-container p {
    font-size: 1.2rem;
  }
  #showcase .showcase-container .btn-showcase {
    width: 11.25rem;
    height: 3.125rem;
    font-size: 1.2rem;
  }
  #clients {
    padding: 100px;
  }
  #clients .clients-container {
    width: 90%;
  }
  #features .features-items {
    font-size: 1.2rem;
  }
  #product .product-container img {
    width: 300px;
  }
  #product .product-container .item {
    font-size: 1.2rem;
  }
  #testimonials .testimonials-content .item-1 img {
    width: 150px;
  }
  #testimonials .testimonials-content .item-1 p {
    font-size: 1.2rem;
  }
  #gallery {
    padding: 100px;
  }
  #gallery .gallery-container img {
    width: 21.875rem;
    height: 15.625rem;
  }
  #footer {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 1441px) {
  #gallery .gallery-container img {
    width: 18.75rem;
    height: 12.5rem;
  }
}
@media screen and (max-width: 1120px) {
  #product .product-container {
    width: 100%;
    height: 50rem;
  }
  #product .product-container .product-items {
    height: 50rem;
    width: 31.25rem;
    margin-top: 20.25rem;
  }
  #product .product-container .product-items .item {
    width: 31.25rem;
    flex-direction: row;
  }
  #product .product-container .product-items .item i {
    font-size: 3rem;
  }
  #gallery .gallery-container {
    grid-template-columns: repeat(2, 1fr);
  }
  #gallery .gallery-container img {
    width: 18.75rem;
    height: 12.5rem;
  }
}
@media screen and (max-width: 900px) {
  #footer .footer-container {
    height: 12rem;
    flex-direction: column;
  }
  #footer .footer-container .social-media {
    right: auto;
    position: relative;
  }
}
@media screen and (max-width: 769px) {
  #navbar {
    height: 12.5rem;
    position: absolute;
    width: 100%;
  }
  #navbar .navbar-container {
    flex-direction: column;
  }
  #navbar .navbar-container .menu ul {
    flex-direction: column;
    align-items: center;
  }
  #navbar .navbar-container .menu ul li:nth-child(2) {
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
  }
  #navbar .product-container {
    width: 18.75rem;
    flex-direction: column;
  }
  #navbar .product-container img {
    margin-left: 200px;
    width: 60%;
    height: auto;
  }
  #navbar .product-container .product-items {
    width: 25rem;
  }
  #navbar .product-container .product-items .item {
    flex-direction: row;
    font-size: 0.8rem;
    align-items: center;
    justify-content: flex-start;
  }
  #showcase {
    width: 100%;
  }
  #showcase .showcase-container h2 {
    font-size: 2rem;
  }
  #showcase .showcase-container p {
    font-size: 1rem;
  }
  #showcase .showcase-container .btn-showcase {
    font-size: 0.8rem;
  }
  #showcase .whatsapp-icon {
    display: none;
  }
  #clients {
    width: 100%;
    padding: 2rem 0;
  }
  #clients h2 {
    padding: 2rem;
    margin: 1rem;
  }
  #clients .clients-container {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
  }
  #clients .clients-container img {
    width: 8rem;
  }
  #features {
    width: 100%;
  }
  #features .features-container {
    grid-template-columns: repeat(1, 1fr);
  }
  #product {
    width: 100%;
  }
  #product .product-container {
    flex-direction: column;
  }
  #product .product-container .product-items {
    margin: 0;
  }
  #product .product-container .item {
    margin: 30px 0;
    padding: 0;
  }
  #product .product-container img {
    width: 12.5rem;
  }
  #testimonials {
    width: 100%;
  }
  #testimonials .testimonials-content {
    flex-direction: column;
    padding: 0;
  }
  #gallery {
    width: 100%;
    margin: 0;
  }
  #gallery .gallery-container {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
  }
  #gallery .gallery-container img {
    width: 22.4375rem;
    height: 15.625rem;
  }
  #footer {
    width: 100%;
  }
}
@media screen and (min-width: 320px) and (max-width: 460px) {
  #footer .footer-container {
    height: 12rem;
    flex-direction: column;
    padding: 1rem;
  }
}
@media screen and (min-width: 319px) and (max-width: 394px) {
  body,
html {
    overflow-x: hidden;
  }
  #product h2 {
    margin-bottom: 4rem;
  }
  #product .product-items {
    width: 70%;
  }
  #product .product-items .item {
    padding: 10px;
    align-items: center;
    justify-content: center;
  }
  #product .product-items .item p {
    width: 10rem;
    font-size: 1rem;
  }
  #testimonials .testimonials-content .item-1 {
    flex-direction: column;
  }
  #gallery {
    width: 100%;
    padding: 0;
  }
  #gallery .gallery-container {
    margin-bottom: 1rem;
    width: 100%;
  }
  #gallery .gallery-container img {
    padding: 0;
    width: 13rem;
    height: 10rem;
  }
}
@media screen and (min-width: 412px) and (max-width: 551px) {
  body,
html {
    overflow-x: hidden;
  }
  #showcase .showcase-container h2 {
    font-size: 1.6rem;
  }
  #showcase .showcase-container p {
    font-size: 0.9rem;
  }
  #clients {
    width: 100%;
  }
  #clients .clients-container {
    gap: 1.5rem;
  }
  #clients .clients-container img {
    width: 6rem;
  }
  #product .product-container .product-items {
    width: 90vw;
    height: 31.25rem;
  }
  #product .product-container .product-items .item {
    flex-direction: row;
  }
  #product .product-container .product-items .item p {
    width: 50%;
  }
  #testimonials .testimonials-content {
    width: 100%;
  }
  #gallery {
    width: 100%;
  }
  #gallery .gallery-container img {
    width: 16rem;
  }
}

/*# sourceMappingURL=style.css.map */
